{:deps {}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :cljs-test {:extra-paths ["test"]
              :extra-deps {kongeor/cljs-test-runner
                           {:git/url "https://github.com/kongeor/cljs-test-runner"
                            :sha "fa604e9e5f4e74a544958dfdf4c5ccc2a4b2c916"}}
              :main-opts ["-m" "cljs-test-runner.main"]}}}